@model IEnumerable<FormularioProfesor>
@{
    ViewData["Title"] = "Solicitudes Canceladas del Profesor";
}

<div>
    <div class="mb-5 bg-dark" style="border-radius:15px 15px 15px 15px; box-shadow:0 15px 15px 0;
    ">
        <h2 style="color:white; text-align:center;">Solicitudes Canceladas del Profesor</h2>
    </div>

    <div class="row justify-content-md-center text-center mb-3">
        <table class="table table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Acciones</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Asignatura</th>
                    <th>Gmail</th>
                    <th>Documento</th>
                    <th>Nacimiento</th>
                    <th>Observacion</th>
                </tr>
            </thead>
            <tbody id="reordenable">
                @foreach (var formularioprofesor in Model)
                {
                    <tr>
                        <td>
                            <input type="hidden" value="@formularioprofesor.IdProfesor" class="ids" />
                            <a class="btn btn-secondary" asp-action="DetallePC" asp-controller="ControladorProfesor"
                               asp-route-id="@formularioprofesor.IdProfesor"><i class="bi bi-journal-text"></i></a>
                        </td>
                        <td>
                            @formularioprofesor.Nombre
                        </td>
                        <td>
                            @formularioprofesor.Apellido
                        </td>
                        <td>
                            @formularioprofesor.Asignatura
                        </td>
                        <td>
                            @formularioprofesor.Gmail
                        </td>
                        <td>
                            @formularioprofesor.Documento
                        </td>
                        <td>
                            @formularioprofesor.Nacimiento
                        </td>
                        <td>
                            @formularioprofesor.Observacion
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Inicio" asp-controller="Home" type="submit" class="btn btn-secondary"
           id="btnEnviarEstudiante">Volver</a>
    </div>
</div>

@*Permite cambiar el orden de las tablas *@
@section Scripts {
    <script>
        const urlOrdenar = '@Url.Action("ordenar")';
        $(function () {
            $("#reordenable").sortable({
                stop: async function (e, ui) {
                    await actualizarOrden();
                }
            });

            async function actualizarOrden() {
                const ids = obtenerIds();
                await enviarIds(ids);
            }
            function obtenerIds() {
                const ids = $(".ids").map(function () {
                    return $(this).val();
                }).get();
                return ids;
            }
            async function enviarIds(ids) {
                var data = JSON.stringify(ids);
                await fetch(urlOrdenar, {
                    method: 'POST',
                    body: data,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            }
        })
    </script>
}

